.classpath
.loadpath
.settings/*
bin/*
.project
/bin/
tmp/
target/*
.mvn/*
*.class
*.jar
*.war
*.ear
.mtj.tmp/
*.DS_Store
**/target
.apt_generated
.factorypath
.project
.settings
.springBeans
.sts4-cache
/Servers
.metadata
*.temp